
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
body{
	background-color: grey;
	font-family: 'noto Sans', sans-serif;
	height: 100% !important;
}

#container{
	width: 250px;
	height: 100%;
   	margin: auto;
   	padding-top: 100px;
}

#container div{
	height: 70px;
}

h1, h2, p{
	text-align: center;
	margin-left: -2px;
	margin-right: 14px;
}

#container div:first-child{
	height: 26%;
}

#container div:nth-child(4){
	height: 13%;
}

#container div:nth-child(4) button{
	width: 47.6%;
	height: 58px;
	background-color: #fff;
	border: 0;
	outline: 0;
	transition: all .08s ease;
}

#container div:nth-child(4) button:hover{
	background-color: grey;
}
#container div:nth-child(4) button:active{
	background-color: #5a5a56;
}

img{
	width: 20px;
	height: 20px;
}

button{
	width: 23.8%;
	height: 100%;
	background-color: #fff;
	border: 0;
	outline: 0;
	margin: -2px;
	transition: all .08s ease;
}
button:hover {
	background-color: grey;
}
button:active{
	background-color: #5a5a56;
}
.activeButton{
	background-color: #5a5a56 !important;
}
input:first-child{
	width: 87.2%;
	height: 10%;
	text-align: right;
	padding: 10px;
	font-size: 17px;
	border: 0;
	color: #000;
}

input{
	width: 87.2%;
	height: 52%;
	text-align: right;
	padding: 10px;
	font-size: 35px;
	border: 0;
	color: #000;
	margin: -2px;
}

.smallFontSize{
	font-size: 15px;
}
